{% extends "layout.html" %}
{% block content %}

<script type=text/javascript>
	onload = function() {
		kihon();
		changeColor("THI-color");
		changeColor("THI-color2");
		set_THI_Color();
		// const input = document.querySelector('input');
		// input.addEventListener('input', updateValue);
	};
	
	function changeColor(idname,color){
	var obj = document.getElementById(idname);
	obj.style.color = color;            //文字色を白にする
	}

	function set_THI_Color(){
		var color;
		if(0 <= {{f}} && {{f}} < 55){
			color = '#000080';
		}else if (55 <= {{f}} && {{f}} < 60){
			color = '#33CCFF';
		}else if (60 < {{f}} && {{f}} < 65){
			color = '#33FF00';
		}else if (65) < {{f}} && {{f}} < 70){
			color = '#33FF00';
		}else if (70 < {{f}} && {{f}} < 75){
			color = '#33FF00';
		}else if (75 < {{f}} && {{f}} < 80){
			color = '#FF6600';
		}else if (80 < {{f}} ){
			color = '#990000';
		}
		changeColor("THI-color",color);
		changeColor("THI-color2",color);
	}

	function kihon() {
    var cnvs = document.getElementById('sample');
    var ctx = cnvs.getContext('2d');
    ctx.strokeStyle = 'rgb(192, 192, 192)';
	ctx.fillStyle = 'rgb(192, 192, 192)'; //塗りつぶし
    ctx.fillRect( 0, 0, 250,400);
	ctx.fillStyle = 'rgb(128, 128, 128)'; //塗りつぶし
    ctx.fillRect( 20, 20, 210,120);

	ctx.font = "40px serif";
	ctx.fillStyle = 'rgb(0, 0, 0)'; //塗りつぶし
	ctx.fillText({{temperature}}+"℃", 60, 70);
	ctx.fillText({{humidity}}+"%", 60, 130);
	ctx.fillStyle = 'rgb(255, 255, 0)'; //塗りつぶし
    ctx.fillRect( 20, 160, 80,50);
	ctx.fillStyle = 'rgb(0, 0, 0)'; //塗りつぶし
	ctx.fillText("自動", 20, 200);

	ctx.arc(140, 185, 25,0,Math.PI*2);
	ctx.fillStyle = 'rgb(128, 128, 128)'; //塗りつぶし
	ctx.fill() ;
	ctx.fillStyle = 'rgb(0, 0, 0)'; //塗りつぶし
	ctx.fillText("切", 120, 200);

	ctx.moveTo(225, 185);
	ctx.arc(200, 185, 25,0,Math.PI*2);
	ctx.fillStyle = 'rgb(128, 128, 128)'; //塗りつぶし
	ctx.fill() ;
	ctx.fillStyle = 'rgb(0, 0, 0)'; //塗りつぶし
	ctx.fillText("切", 120, 200);
	ctx.fillStyle = 'rgb(0, 0, 0)'; //塗りつぶし
	ctx.fillText("入", 180, 200);
	ctx.moveTo(225, 185);
	ctx.arc(200, 185, 25,0,Math.PI*2);
    ctx.strokeRect( 20, 330, 60,40);

	ctx.beginPath();
	ctx.moveTo(120,220); //最初の点の場所
	ctx.lineTo(80,245); //2番目の点の場所
	ctx.lineTo(160,245); //3番目の点の場所
	ctx.closePath();	//三角形の最後の線 closeさせる
	ctx.strokeStyle = "rgb(0,0,0)"; //枠線の色
	ctx.stroke();
	
	ctx.font = "40px serif";
	ctx.fillStyle = 'rgb(0, 0, 0)'; //塗りつぶし	
	ctx.fillText({{set_temp}}+"℃", 80, 280);

	ctx.beginPath();
	ctx.moveTo(120,310); //最初の点の場所
	ctx.lineTo(80,285); //2番目の点の場所
	ctx.lineTo(160,285); //3番目の点の場所
	ctx.closePath();	//三角形の最後の線 closeさせる
	ctx.strokeStyle = "rgb(0,0,0)"; //枠線の色
	ctx.stroke();

	ctx.font = "30px serif";
	ctx.fillStyle = 'rgb(0, 128, 255)'; //塗りつぶし
    ctx.fillRect( 20, 330, 60,40);
	ctx.fillStyle = 'rgb(0, 0, 0)'; //塗りつぶし
	ctx.fillText("冷房", 20, 360);
	ctx.fillStyle = 'rgb(0, 255, 255)'; //塗りつぶし
    ctx.fillRect( 100, 330, 60,40);
	ctx.fillStyle = 'rgb(0, 0, 0)'; //塗りつぶし
	ctx.fillText("除湿", 100, 360);
	ctx.fillStyle = 'rgb(255, 0, 0)'; //塗りつぶし
    ctx.fillRect( 180, 330, 60,40);
	ctx.fillStyle = 'rgb(0, 0, 0)'; //塗りつぶし
	ctx.fillText("暖房", 180, 360);

	// ctx.stroke();
	}

	$(function() {
	  $('a#ac_on').bind('click', function() {
		$.getJSON('/ac_on',
			function(data) {
		});
		var power = document.getElementById('ac_power')
		power.innerText = 1
		return false;
	  });
	  $('a#ac_off').bind('click', function() {
		$.getJSON('/ac_off',
			function(data) {
		  //do nothing
		});
		var power = document.getElementById('ac_power')
		power.innerText = 0
		return false;
	  });
	});

	// function updateValue(e) {
	// 	var set_temp = document.getElementById('set_temperature')
	// 	power.innerText = e.target.value;
	// }

	$(function () {
	graph();
	function graph() {
		$.get("/getRoomInfo/100", function (data) {
			// var jdata = JSON.parse(data);
			var ctx = document.getElementById("myChart");
			var myChart = new Chart(ctx, {
				type: 'line',
				data: data,
				options: {
					scales: {
						yAxes: [
							{id:"y-axis-1",
								typee:"linear",
								position:"left",
								ticks: {
									suggestedMax: 100,
									suggestedMin: 0,
									stepSize: 10
								}
							}
						]
					},
				}
			});
		});
	}
});

	setTimeout(function () {
		location.reload();
	}, 30000);

</script>

<div class="panel panel-head">
	<h1>IoTリモコン</h1>
</div>
<div class="panel panel-body">

	<div class="container"> 
		<div class="row">
			<div class="col-md-6">
				<a href=# id=ac_on><button class='btn btn-default' value="1">エアコンＯＮ</button></a>
				<a href=# id=ac_off><button class='btn btn-default' value="1">エアコンＯＦＦ</button></a>
				<!-- <label>設定温度:
					<input type="number" name="number" min="15" max="32" step="0.1">
				</label> -->
				<table class="table table-bordered table-striped">
					<tr><td class="info">モード</td><td>{{mode}}</td></tr>
					<tr><td class="info">機種</td><td>{{model}}</td></tr>
					<tr><td class="info">電源</td><td id="ac_power"> {{power}}</td></tr>
					<tr><td class="info">設定温度</td><td id = set_temperature>{{set_temp}}</td></tr>
				</table>				
				<canvas id="sample" width="500" height="500"></canvas>
			</div>
			<div class="col-md-6">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							<h3 class="text-center font40px">不快指数</h3>
							<h2 id="THI-color" class="text-center font80px">快適</h2>	
						</div>
						<div class="col-md-6">
							<h1 id="THI-color2" class="font120px">{{f}}</h1>	
						</div>	
					</div>
				</div>
				<div class="col-md-12">
					<canvas id="myChart"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}