{% extends "layout.html" %}
{% block content %}

<script type=text/javascript>
	var img01 = new Image();
	img01.src = "./static/images/Toshiba_logo.svg";


	onload = function() {
		kihon();
		set_THI_Color({{f}});

	};
	
	function changeColor(idname,color){
		var obj = document.getElementById(idname);
		obj.style.color = color;            //文字色変更
	}
	function changeText(idname,text){
		var obj = document.getElementById(idname);
		obj.innerText = text;            //文字変更
	}

	function set_THI_Color(f){
		var color;
		if(0 <= f && f < 55){
			color = '#000080';
			text = "寒い"
		}else if (55 <= f && f < 60){
			color = '#33CCFF';
			text = "肌寒い"
		}else if (60 <= f && f < 65){
			color = '#33FF00';
			text = "普通"
		}else if (65 <= f && f < 70){
			color = '#33FF00';
			text = "快適"
		}else if (70 <= f && f < 75){
			color = '#33FF00';
			text = "普通"
		}else if (75 <= f && f < 80){
			color = '#FF6600';
			text = "やや暑い"
		}else if (80 <= f ){
			color = '#990000';
			text = "暑い"
		}
		changeText("THI-color",text)
		changeColor("THI-color",color);
		changeColor("THI-color2",color);
	}

	function kihon() {
    var cnvs = document.getElementById('sample');
    var ctx = cnvs.getContext('2d');
    ctx.strokeStyle = 'rgb(192, 192, 192)';
	ctx.fillStyle = 'rgb(192, 192, 192)'; //塗りつぶし
    ctx.fillRect( 0, 0, 250,600);
	ctx.fillStyle = 'rgb(128, 128, 128)'; //塗りつぶし
    ctx.fillRect( 20, 40, 210,140);

	ctx.font = "40px sans-serif";
	ctx.fillStyle = 'rgb(0, 0, 0)'; //塗りつぶし
	ctx.fillText({{temperature}}+"℃", 60, 90);
	ctx.fillText({{humidity}}+"%", 60, 150);
	ctx.fillStyle = 'rgb(255, 255, 0)'; //塗りつぶし
    ctx.fillRect( 20, 190, 80,50);
	ctx.fillStyle = 'rgb(0, 0, 0)'; //塗りつぶし
	ctx.fillText("自動", 20, 230);

	ctx.arc(140, 215, 25,0,Math.PI*2);
	ctx.fillStyle = 'rgb(128, 128, 128)'; //塗りつぶし
	ctx.fill() ;
	ctx.fillStyle = 'rgb(0, 0, 0)'; //塗りつぶし

	ctx.moveTo(225, 185);
	ctx.arc(200, 215, 25,0,Math.PI*2);
	ctx.fillStyle = 'rgb(128, 128, 128)'; //塗りつぶし
	ctx.fill() ;
	ctx.fillStyle = 'rgb(0, 0, 0)'; //塗りつぶし
	ctx.fillText("切", 120, 230);
	ctx.fillStyle = 'rgb(0, 0, 0)'; //塗りつぶし
	ctx.fillText("入", 180, 230);
	ctx.moveTo(225, 185);
    ctx.strokeRect( 20, 330, 60,40);

	ctx.beginPath();
	ctx.moveTo(120,240); //最初の点の場所
	ctx.lineTo(80,265); //2番目の点の場所
	ctx.lineTo(160,265); //3番目の点の場所
	ctx.closePath();	//三角形の最後の線 closeさせる
	ctx.strokeStyle = "rgb(0,0,0)"; //枠線の色
	ctx.stroke();
	
	ctx.font = "40px sans-serif";
	ctx.fillStyle = 'rgb(0, 0, 0)'; //塗りつぶし	
	ctx.fillText({{set_temp}}+"℃", 80, 300);

	ctx.beginPath();
	ctx.moveTo(120,330); //最初の点の場所
	ctx.lineTo(80,305); //2番目の点の場所
	ctx.lineTo(160,305); //3番目の点の場所
	ctx.closePath();	//三角形の最後の線 closeさせる
	ctx.strokeStyle = "rgb(0,0,0)"; //枠線の色
	ctx.stroke();

	ctx.font = "30px sans-serif";
	ctx.fillStyle = 'rgb(0, 128, 255)'; //塗りつぶし
    ctx.fillRect( 20, 350, 60,40);
	ctx.fillStyle = 'rgb(0, 0, 0)'; //塗りつぶし
	ctx.fillText("冷房", 20, 380);
	ctx.fillStyle = 'rgb(0, 255, 255)'; //塗りつぶし
    ctx.fillRect( 100, 350, 60,40);
	ctx.fillStyle = 'rgb(0, 0, 0)'; //塗りつぶし
	ctx.fillText("除湿", 100, 380);
	ctx.fillStyle = 'rgb(255, 0, 0)'; //塗りつぶし
    ctx.fillRect( 180, 350, 60,40);
	ctx.fillStyle = 'rgb(0, 0, 0)'; //塗りつぶし
	ctx.fillText("暖房", 180, 380);
	
	ctx.scale(0.15, 0.15);
	ctx.drawImage(img01, 400, 3000)

	ctx.scale(1, 1);

	// ctx.stroke();
	}

	$(function() {
	  $('a#ac_on').bind('click', function() {
		$.getJSON('/ac_on',
			function(data) {
		});
		var power = document.getElementById('ac_power')
		power.innerText = 1
		return false;
	  });
	  $('a#ac_off').bind('click', function() {
		$.getJSON('/ac_off',
			function(data) {
		  //do nothing
		});
		var power = document.getElementById('ac_power')
		power.innerText = 0
		return false;
	  });
	});

	// function updateValue(e) {
	// 	var set_temp = document.getElementById('set_temperature')
	// 	power.innerText = e.target.value;
	// }

// 	$(function () {
// 	graph();
// 	function graph() {
// 		$.get("/getRoomInfo/100", function (data) {
// 			// var jdata = JSON.parse(data);
// 			var ctx = document.getElementById("myChart");
// 			var myChart = new Chart(ctx, {
// 				type: 'line',
// 				data: data,
// 				options: {
// 					scales: {
// 						yAxes: [
// 							{id:"y-axis-1",
// 								typee:"linear",
// 								position:"left",
// 								ticks: {
// 									suggestedMax: 100,
// 									suggestedMin: 0,
// 									stepSize: 10
// 								}
// 							}
// 						]
// 					},
// 				}
// 			});
// 		});
// 	}
// });





	setInterval(function () {
		$.ajax({
			url: "/getLatestRoomInfo",
			method: "GET",
		})
		.done(function(data){
			console.log(data);
			$('#len').html(data);
		});
		console.log(data.f);
		set_THI_Color(data.f);
		var obj2 = document.getElementById('THI-color2');
		obj2.innerText = data.f;            //文字変更
		console.log("timeout1000")
	}, 1000);

</script>

<div class="panel panel-head">
	<h1>IoTリモコン</h1>
</div>
<div class="panel panel-body">
	<div class="container"> 
		{% for message in get_flashed_messages() %}
		<div class="alert alert-success">{{ message }}</div>
		{% endfor %}
		{% block body %}{% endblock %}

		<div class="row">
			<div class="col-md-6">
				<a href=# id=ac_on><button class='btn btn-default' value="1">エアコンＯＮ</button></a>
				<a href=# id=ac_off><button class='btn btn-default' value="1">エアコンＯＦＦ</button></a>
				<!-- <label>設定温度:
					<input type="number" name="number" min="15" max="32" step="0.1">
				</label> -->
				<table class="table table-bordered table-striped">
					<tr><td class="info">モード</td><td>{{mode}}</td></tr>
					<tr><td class="info">機種</td><td>{{model}}</td></tr>
					<tr><td class="info">電源</td><td id="ac_power"> {{power}}</td></tr>
					<tr><td class="info">設定温度</td><td id = set_temperature>{{set_temp}}</td></tr>
				</table>				
				<canvas id="sample" width="500" height="500"></canvas>
			</div>
			<div class="col-md-6">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							<h3 class="text-center font40px">不快指数</h3>
							<h2 id="THI-color" class="text-center font80px">快適</h2>	
						</div>
						<div class="col-md-6">
							<h1 id="THI-color2" class="font120px">{{f}}</h1>	
						</div>	
					</div>
				</div>
				<div class="col-md-12">
					<canvas id="myChart3"></canvas>
					<script>
						var ctx3 = document.getElementById('myChart3').getContext('2d');
						var chart3 = new Chart(ctx3, {
						type: 'line',
						data: {
							datasets: [{
							data: []
							}, {
							data: []
							}]
						},
						options: {
							scales: {
							xAxes: [{
								type: 'realtime'     <!-- Barメソッドを実行すれば棒グラフ -->
							}]
							},
							plugins: {
									streaming: {            
										duration: 20000,    
										refresh: 1000,      
										delay: 1000,        
										frameRate: 30,      
										pause: false,       


										onRefresh: function(chart) {
											data = get_data()
											console.log(data)
											console.log(Date.now())
											chart.data.datasets[0].data.push({
												x: Date.now(),
												y: data.temperature
											});
										}
									}
								}
							}
						});

						let a = 0;
						function get_data(){
							$.ajax({
								url: "/getLatestRoomInfo",
								method: "GET",
							})
							.done(function(data){
								a = data;
								console.log(data);
								$('#len').html(data);
							});
							return a;
						}						
					</script>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}